
  h1{
    font-size: xx-large;
    font-style: italic;
  }
  h2{
    font-style: italic;
    font-weight: 300;
    font-size: large;
  }
  h2{
    font-size:xx-large;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  *{
    font-size: large;
    background-image: url(background2.jpg);
    background-size: cover;
  
  }
  header{
    color: blanchedalmond;
  }
  
